<%= render 'navbar' %>
<div class="card--grid">
<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>
    <div class="card--container">
      <div class="card--img" style="background-image: url('<%= cl_image_path cocktail.photo %>')">
      </div>
      <div class="card--name">
        <%= cocktail.name %>
      </div>
    </div>
  <% end %>

<% end %>
</div>





