.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  color: #fff;
  background-color: #2F262A;

  h2 {
    font-family: 'Baskervville', serif;
    font-size: 3rem;
    letter-spacing: 0.1em;
  }
}

@media only screen and (max-width: 599px) {
  .nav-container {
    display: block;
    h2 {
      font-size: 2rem;
      padding-bottom: 0.5em;
    }
  }
}

