.btn-header {
  color: #1C0F13;
  background-color: #fff;
  padding: 0.5em;
  transition: 0.3s ease;
  opacity: 1;
  margin-right: 7em;
}

.btn-header:hover {
  color: #1C0F13;
  background-color: #fff;
  text-decoration: none;
  opacity: 0.6;
}
