.card--grid  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: 0 auto;
  width: 75vw;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 2em;
}

.card--container {
  width: 100%;
  height: 75%;
  transition: ease 0.3s;
  color: #fff;
  opacity: 0.9;
  letter-spacing: 0.2em;
  padding-bottom: 0.3em;
}

.card--container:hover {
  opacity: 1;
  letter-spacing: 0.4em;
}

.card--img {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card--name {
  text-transform: capitalize;
  background-color: #1B0E13;
  text-align: center;
  padding: 1em;
  outline: 1px dotted #E2E2E2;
  outline-offset: -0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

@media only screen and (max-width: 599px) {
  .card--grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
